// _components.scss
.card {
  background: $blanco;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  opacity: 0; // Se activa con la clase .fadeInCard del HTML

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(212, 175, 55, 0.2);
    border-color: $color-acento;
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: $color-principal;
  color: $blanco;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;

  &:hover { background-color: $color-acento; }

  &-whatsapp {
    background: linear-gradient(to right, #25d366, #128c7e);
    padding: 15px 40px;
    margin-top: 50px;
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}