
// Colores
$color-principal: #121212;
$color-acento: #c5a059; // El dorado que tenías en el brillo
$color-fondo: #f8f9fa;
$blanco: #ffffff;

// Fuentes
$fuente-titulos: 'Montserrat', sans-serif;
$fuente-cuerpo: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;